/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 18, 2023, 6:04:53 PM
    Author     : FR
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    padding-bottom: 20px;
    padding-top: 20px;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.page-title {
    background-color: #2d1b6a;
    z-index: 1;
}

.page-title-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    min-height: 60px;
    padding-top: 20px;
    position: relative;
}

.title-name {
    font-size: 1.5em;
    line-height: 1.3;
    text-rendering: optimizeSpeed;
    color: white;
    margin-bottom: 0.5em;
    margin-top: 0;
    width: 100%;
}

.is-uppercase,
.uppercase {
    line-height: 1.2;
    text-transform: uppercase;
}

.dir-home {
    font-weight: 700;
    letter-spacing: 0;
    padding: 0;
    color: #cbd6ff;
}

.breadcrumbs .divider,
.breadcrumbs .separator {
    font-weight: 300;
    margin: 0 0.3em;
    opacity: 1.35;
    position: relative;
    top: 0;
}

.woocommerce-ordering,
.woocommerce-ordering select {
    display: inline-block;
    margin: 5px 0;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.flex-left{
    margin-right: auto;
}

.product-content{
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item-product{
    width: 25%;
    max-width: 25%;
    margin-bottom: 0;
    padding: 0 9.8px 19.6px;
}

.item-product-content{
    box-shadow: 0 1px 3px -2px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    margin-left: 0;
    margin-right: auto;
    background-color: #fff;
    position: relative;
}

.price{
    font-size: 0;
    line-height: 1;
    display: block;
}

.price del{
    display: block;
}

.price span.amount {
    display: block;
    font-size: 18px;
}

.price del span.amount {
    color: #777;
}

.price span.amount {
    color: #f00;
    font-weight: 700;
    white-space: nowrap;
}

del span.amount {
    font-weight: 400;
    margin-right: 0.3em;
    opacity: .6;
}

.prd-img img{
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-style: none;
}

.box-text{
    padding-left: 11px;
    padding-right: 11px;
    font-size: 1.2em;
    padding-bottom: 1.4em;
    padding-top: 0.7em;
    position: relative;
    width: 100%;
    height: 122.05px;
}

.product-name{
    color: #22417b;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.box-img{
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative; 
}

.out-of-stock-label {
    background: #fff;
    background: hsl(0deg 8.76% 83.29% / 90%);
    color: #333;
    font-weight: 700;
    left: 0;
    opacity: .9;
    padding: 20px 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 40%;
}

.z-1 {
    z-index: 1;
}
.left {
    left: 0;
}
.top {
    top: 0;
}
.absolute {
    position: absolute!important;
}
.badge-container {
    margin: 30px 0 0;
}

.badge-circle, .badge-outline {
    margin-left: -0.4em;
}
.badge {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: table;
    height: 2.8em;
    pointer-events: none;
    width: 2.8em;
    z-index: 20;
}

.badge-inner.on-sale {
    background-color: #f94747;
}

.badge-circle .badge-inner{
    border-radius: 999px;
}

.badge-inner {
    background-color: #446084;
    color: #fff;
    display: table-cell;
    font-weight: bolder;
    height: 100%;
    line-height: .85;
    padding: 2px;
    text-align: center;
    transition: background-color .3s,color .3s,border .3s;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    pointer-events: none;
}